<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sportpit store</title>
  <link href="../vendor/css/orders.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="index.html">Sportpit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="products.html">Каталог <i class="fas fa-shopping-bag"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="orders.html">Корзина <i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Войти <i class="fas fa-sign-in-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<!-- Page Content -->
<section>
  <div class="container pt-5">
    <div class="text-center mt-5">
      <h1>Заказ №12345</h1>
      <div class="orders mt-5">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Цена</th>
            <th scope="col">Сумма</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Beef Protein</th>
            <td>1</td>
            <td>10$</td>
            <td>10$</td>
          </tr>
          <tr>
            <th scope="row">Protein Professional</th>
            <td>1</td>
            <td>15$</td>
            <td>15$</td>
          </tr>
          <tr>
            <th scope="row">PRO Whey</th>
            <td>2</td>
            <td>13$</td>
            <td>26$</td>
          </tr>
          <tr>
            <th scope="row">Ultimate Nutrition Prostar</th>
            <td>1</td>
            <td>20$</td>
            <td>20$</td>
          </tr>
          <tr>
            <th scope="row">Mutant Whey Protein</th>
            <td>1</td>
            <td>25$</td>
            <td>25$</td>
          </tr>
          <tr>
            <th scope="row">BSN Syntha-6 Isolate</th>
            <td>1</td>
            <td>30$</td>
            <td>30$</td>
          </tr>
          </tbody>
        </table>
        <p class="float-right h4 mt-3">Итого 126$</p>
        <button class="purchase-btn" type="button">
          <a id="purchase-link" href="#">
            Оплатить
          </a>
        </button>
      </div>
    </div>
  </div>
</section>


</body>
</html>